@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

:root {
  --default-font-family: "roboto", "m plus 1p", "noto color emoji", sans-serif;
}

body {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
}

.image-reference img {
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

img.with-border {
  border: 1px solid rgba(0.5, 0.5, 0.5, 0.1);
}

.caption-number {
  font-style: normal !important;
  font-weight: bold;
  font-family: var(--default-font-family);
}

.caption-text {
  font-family: var(--default-font-family);
}

.pasted-text {
  font-weight: normal !important;
}
